
.litur{
    border: 2px solid yellowgreen;
    margin: 0.5em auto;
    padding: 0.1em;
    width: 1000px;
    display: inline-block;
}
.kassi2{
    border: 2px solid yellowgreen;
    margin: 2em auto;
    padding: 0.1em;
    width: 800px;
    display:block;
}
.kassi{
        border: 5px solid red;
        margin: 10em auto;
        padding: 5em;
        width: 1000px;
        display:block;
}

.kassi3{
    border: 5px solid red;
    margin: 10em auto;
    padding: 3em;
    width: 1050px;
    display:block;
}

.bull{
        border: 4px dashed blue;
        margin: 0.5em auto;
        padding: 0.1em;
        width: 1000px;
        display: block;
}
.prufa{
    border: 3px dashed darkgreen;
    margin: 1em auto;
    padding: 1em;
    width: 1000px;
    display: block;
}

.prufa2{
    border: 3px dashed darkblue;
    margin: 1em ;
    padding: 1em;
    display: inline;
}
.prufa3{
    border:3px dashed red;
    margin: 4em;
    padding: 4px;
    width: 5em;
    display: inline-block;
}
body{
    padding: 5em
}